<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#What-is-Pandas?" data-toc-modified-id="What-is-Pandas?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is Pandas?</a></span><ul class="toc-item"><li><span><a href="#Accessing-Data" data-toc-modified-id="Accessing-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Accessing Data</a></span></li><li><span><a href="#DataFrames-and-Series" data-toc-modified-id="DataFrames-and-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DataFrames and Series</a></span></li><li><span><a href="#More-Basic-DataFrame-Attributes-and-Methods" data-toc-modified-id="More-Basic-DataFrame-Attributes-and-Methods-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>More Basic DataFrame Attributes and Methods</a></span><ul class="toc-item"><li><span><a href="#.head()-:-first-5-rows" data-toc-modified-id=".head()-:-first-5-rows-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span><code>.head()</code> : first 5 rows</a></span></li><li><span><a href="#.tail()-:-last-5-rows" data-toc-modified-id=".tail()-:-last-5-rows-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span><code>.tail()</code> : last 5 rows</a></span></li><li><span><a href="#.info()-:-information-about-the-columns,-including-about-nulls-in-those-columns" data-toc-modified-id=".info()-:-information-about-the-columns,-including-about-nulls-in-those-columns-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span><code>.info()</code> : information about the columns, including about nulls in those columns</a></span></li><li><span><a href="#.describe()-:-statistics-about-the-data" data-toc-modified-id=".describe()-:-statistics-about-the-data-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span><code>.describe()</code> : statistics about the data</a></span></li><li><span><a href="#.dtypes-:-data-types-of-each-column" data-toc-modified-id=".dtypes-:-data-types-of-each-column-2.3.5"><span class="toc-item-num">2.3.5&nbsp;&nbsp;</span><code>.dtypes</code> : data types of each column</a></span></li><li><span><a href="#.shape-:-number-of-rows-and-columns" data-toc-modified-id=".shape-:-number-of-rows-and-columns-2.3.6"><span class="toc-item-num">2.3.6&nbsp;&nbsp;</span><code>.shape</code> : number of rows and columns</a></span></li><li><span><a href="#Statistics" data-toc-modified-id="Statistics-2.3.7"><span class="toc-item-num">2.3.7&nbsp;&nbsp;</span>Statistics</a></span></li></ul></li><li><span><a href="#Enough-With-The-Small-Stuff---Bring-On-Real-Data!" data-toc-modified-id="Enough-With-The-Small-Stuff---Bring-On-Real-Data!-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Enough With The Small Stuff - Bring On Real Data!</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Any-Observations?" data-toc-modified-id="Any-Observations?-2.4.0.1"><span class="toc-item-num">2.4.0.1&nbsp;&nbsp;</span>Any Observations?</a></span></li></ul></li></ul></li><li><span><a href="#Adding-to-a-DataFrame" data-toc-modified-id="Adding-to-a-DataFrame-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Adding to a DataFrame</a></span><ul class="toc-item"><li><span><a href="#Adding-Rows" data-toc-modified-id="Adding-Rows-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Adding Rows</a></span></li></ul></li><li><span><a href="#Adding-(and-Deleting)-Columns" data-toc-modified-id="Adding-(and-Deleting)-Columns-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Adding (and Deleting) Columns</a></span><ul class="toc-item"><li><span><a href="#DateTime-Data!" data-toc-modified-id="DateTime-Data!-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>DateTime Data!</a></span></li></ul></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#.loc" data-toc-modified-id=".loc-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.loc</code></a></span><ul class="toc-item"><li><span><a href="#Your-turn!" data-toc-modified-id="Your-turn!-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Your turn!</a></span><ul class="toc-item"><li><span><a href="#Exercise-1" data-toc-modified-id="Exercise-1-3.1.1.1"><span class="toc-item-num">3.1.1.1&nbsp;&nbsp;</span>Exercise 1</a></span></li><li><span><a href="#Exercise-2" data-toc-modified-id="Exercise-2-3.1.1.2"><span class="toc-item-num">3.1.1.2&nbsp;&nbsp;</span>Exercise 2</a></span></li></ul></li></ul></li><li><span><a href="#.iloc" data-toc-modified-id=".iloc-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.iloc</code></a></span></li></ul></li><li><span><a href="#Series-Methods" data-toc-modified-id="Series-Methods-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Series Methods</a></span><ul class="toc-item"><li><span><a href="#.value_counts()" data-toc-modified-id=".value_counts()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.value_counts()</code></a></span></li><li><span><a href="#.sort_values()" data-toc-modified-id=".sort_values()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>.sort_values()</code></a></span></li></ul></li><li><span><a href="#Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it." data-toc-modified-id="Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Extra Credit: Find a .csv file online and experiment with it.</a></span></li></ul></div>

![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [1]:
# Import - using the common alias
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [2]:
# Use read_csv to read in the heart csv file
heart_df = pd.read_csv('./data/heart.csv')
# Need to assign it to a variable too - let's call this heart_df

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [3]:
# Let's check this variable out
heart_df.shape
heart_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
# What type is this variable?
type(heart_df)

pandas.core.frame.DataFrame

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [5]:
# Let's grab just one column
heart_df["age"]
heart_df[['age']]  # dbl frame makes it a DataFrame

     age
0     63
1     37
2     41
3     56
4     57
..   ...
298   57
299   45
300   68
301   57
302   57

[303 rows x 1 columns]

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [6]:
# Grab the same column as an attribute
heart_df.age

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [7]:
# What type is the column?
type(heart_df.age)

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [8]:
# Check out the dataframe index
heart_df.index

RangeIndex(start=0, stop=303, step=1)

In [9]:
# Check out the series index
heart_df.age.index

RangeIndex(start=0, stop=303, step=1)

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [10]:
# Check out the dataframe columns
heart_df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [11]:
# Now try with the series
#heart_dr.age.columns  # error
heart_df[['age']].columns  # this works because it is a DF object

Index(['age'], dtype='object')

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [12]:
# Check out the dataframe values
heart_df.values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

## More Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [13]:
heart_df.head()  # enter desired sample size in parenthesis

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### `.tail()` : last 5 rows

In [14]:
heart_df.tail(7)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### `.info()` : information about the columns, including about nulls in those columns

In [15]:
heart_df.info()  # very important

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### `.describe()` : statistics about the data

In [16]:
heart_df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

### `.dtypes` : data types of each column

In [17]:
heart_df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

### `.shape` : number of rows and columns

In [18]:
heart_df.shape

(303, 14)

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [19]:
# Calculate the mean - for the whole dataframe!
heart_df['age'].std()

9.082100989837857

Let's pause and interpret - any observations?

-

In [20]:
# Now min
heart_df['age'].min()

29

In [21]:
# And max
heart_df['age'].max()

77

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [11]:
! ls

05-python-review.ipynb                 completed
06-data-analysis-with-csvs.ipynb       data
07-data-analysis-with-json.ipynb       images
08-Introducing-Pandas-DataFrames.ipynb src
09-plotting-with-pandas.ipynb

In [12]:
!ls data

2019_Census_US_Population_Data_By_State_Lat_Long.csv
Austin_Animal_Center_Intakes-clean-year.csv
Austin_Animal_Center_Intakes_022822.csv
Austin_Animal_Center_Outcomes_022822.csv
BankChurners.csv
Datafiniti_Fast_Food.csv
OpenFoodFacts.csv
bundesliga.csv
classic-rock-song-list.csv
ds_chars.csv
heart.csv
new_releases.json
plants.json
pop_soda_data.csv
preferences.csv
states.csv

In [1]:
import pandas as pd
# Accessing a CSV from a url
intakes_url = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')

In [2]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
intakes_url.shape

(1000, 12)

In [3]:
# But this is only 1000 rows... website says there's 136K rows!
len(intakes_url)

1000

In [4]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
intakes_url = pd.read_csv('data/Austin_Animal_Center_Intakes-clean-year.csv')

In [5]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
intakes_url.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [6]:
# Check the last 5 rows
intakes_url.tail()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream

In [7]:
# Check the shape
intakes_url.shape

(136763, 12)

In [8]:
# Check the datatypes
intakes_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136763 entries, 0 to 136762
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136763 non-null  object
 1   Name              95772 non-null   object
 2   DateTime          136763 non-null  object
 3   Year              136763 non-null  int64
 4   Found Location    136763 non-null  object
 5   Intake Type       136763 non-null  object
 6   Intake Condition  136763 non-null  object
 7   Animal Type       136763 non-null  object
 8   Sex upon Intake   136762 non-null  object
 9   Age upon Intake   136763 non-null  object
 10  Breed             136763 non-null  object
 11  Color             136763 non-null  object
dtypes: int64(1), object(11)
memory usage: 12.5+ MB

In [13]:
intakes_url.dtypes

Animal ID           object
Name                object
DateTime            object
Year                 int64
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object

In [14]:
# Check more general information on the dataframe
intakes_url.describe()

                Year
count  136763.000000
mean     2017.100692
std         2.328994
min      2013.000000
25%      2015.000000
50%      2017.000000
75%      2019.000000
max      2022.000000

In [ ]:
# Check summary/descriptive statistics on the dataframe

#### Any Observations?

-

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [15]:
# Dictionary, where keys match the column names and values are the row values
next_row = {'Animal ID': 'A851755',
            'Name': "T'Challa",
            'DateTime': '2/28/2022 11:25:00 AM',
            'MonthYear': 'February 2022',
            'Found Location': 'Houston (TX)',
            'Intake Type': 'Public Assist',
            'Intake Condition': 'Normal',
            'Animal Type': 'Cat',
            'Sex upon Intake': 'Neutered Male',
            'Age upon Intake': '4 years',
            'Breed': 'Domestic Shorthair',
            'Color': 'Black'}
next_row

{'Animal ID': 'A851755',
 'Name': "T'Challa",
 'DateTime': '2/28/2022 11:25:00 AM',
 'MonthYear': 'February 2022',
 'Found Location': 'Houston (TX)',
 'Intake Type': 'Public Assist',
 'Intake Condition': 'Normal',
 'Animal Type': 'Cat',
 'Sex upon Intake': 'Neutered Male',
 'Age upon Intake': '4 years',
 'Breed': 'Domestic Shorthair',
 'Color': 'Black'}

How can we add this to the bottom of our dataset?

In [25]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.
new_animal = pd.DataFrame.from_dict(next_row, orient='index').T  # .T short for transpose
# makes pandas interpret it horizontal;y where keys are columns
new_animal

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A851755,T'Challa,2/28/2022 11:25:00 AM,February 2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

In [26]:
pd.concat([intakes_url, new_animal], axis= 0)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN
0,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022

In [27]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.
animals = pd.concat([intakes_url, new_animal], ignore_index = True)

In [28]:
# Let's check the end to make sure we were successful!
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022

## Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [29]:
# Create a new column, 'test', where every value in the col is 0
animals['test'] = 0

In [30]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,test
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,0
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,0
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,0
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,0
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,0
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,0
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,0
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,0
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,0

But we don't need that - let's drop that column.

In [31]:
# Drop that test column
animals.drop(columns= 'test', inplace= True)

In [32]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [35]:
animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136764 entries, 0 to 136763
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136764 non-null  object
 1   Name              95773 non-null   object
 2   DateTime          136764 non-null  object
 3   Year              136763 non-null  float64
 4   Found Location    136764 non-null  object
 5   Intake Type       136764 non-null  object
 6   Intake Condition  136764 non-null  object
 7   Animal Type       136764 non-null  object
 8   Sex upon Intake   136763 non-null  object
 9   Age upon Intake   136764 non-null  object
 10  Breed             136764 non-null  object
 11  Color             136764 non-null  object
 12  MonthYear         1 non-null       object
dtypes: float64(1), object(12)
memory usage: 13.6+ MB

In [38]:
# Create a new column, 'Type', from the two 'Type' columns
animals["Type"] = animals["Intake Type"] + " " + animals["Animal Type"]

In [39]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,Stray Dog
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,Stray Dog
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,Stray Cat
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,Stray Dog
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,Stray Dog
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,Stray Dog
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,Stray Dog
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,Stray Dog
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public Assist Cat

### DateTime Data!

Useful reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

I mentioned we don't have any numeric data in here... let's make a new numeric column! Specifically, let's grab the year from our `DateTime` column and use that to create a new `Year` column. AKA, let's learn how to deal with datetime data!

In [74]:
# What type is the DateTime column now?
animals.dtypes

Animal ID                   object
Name                        object
DateTime            datetime64[ns]
Year                datetime64[ns]
Found Location              object
Intake Type                 object
Intake Condition            object
Animal Type                 object
Sex upon Intake             object
Age upon Intake             object
Breed                       object
Color                       object
MonthYear                   object
Type                        object
Day of Week                  int64
Year of Intake               int64
dtype: object

In [79]:
# Let's make that a datetime datatype
animals['DateTime'] = pd.to_datetime(animals['DateTime'])

In [81]:
animals['DateTime'].dt.year

0         2019
1         2015
2         2016
3         2013
4         2014
          ...
136759    2022
136760    2022
136761    2022
136762    2022
136763    2022
Name: DateTime, Length: 136764, dtype: int64

In [82]:
# Sanity check
animals.dtypes
animals["DateTime"].dt.day
animals['Year'] = animals["DateTime"].dt.year

In [85]:
# Now we can access parts of a datetime object using .dt - an attribute!
animals['Year'].dtype

dtype('int64')

In [87]:
# Make that into a new column
animals.dtypes
animals.drop(columns= 'Year of Intake', inplace=True)

In [88]:
animals["Day of Week"] = animals["DateTime"].dt.dayofweek

In [89]:
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Day of Week
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,Stray Dog,3
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,Stray Dog,6
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog,3
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,Stray Cat,0
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,Stray Dog,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,Stray Dog,0
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,Stray Dog,1
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,Stray Dog,4
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,Stray Dog,6
136763,A851755,T'Challa,2022-02-28 11:25:00,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public Assist Cat,0

In [90]:
# Sanity check
animals['Day of Week']

0         3
1         6
2         3
3         0
4         6
         ..
136759    0
136760    1
136761    4
136762    6
136763    0
Name: Day of Week, Length: 136764, dtype: int64

# Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [91]:
# Check which rows have an intake year greater than or equal to 2020
animals.loc[animals["Year"] >= 2020, :]  
# .loc[rows, columns]
#.iloc[rows, columns]
# only the rows wherein the value is greater than 2020

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Day of Week
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,NaN,Stray Cat,4
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,NaN,Stray Cat,3
22,A831808,NaN,2021-04-02 11:16:00,2021,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Tortie,NaN,Owner Surrender Cat,4
24,A836850,NaN,2021-06-15 12:37:00,2021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Blue/White,NaN,Public Assist Dog,1
26,A815227,Baby,2020-03-12 13:52:00,2020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier,Brown/Cream,NaN,Stray Dog,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,Stray Dog,0
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,Stray Dog,1
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,Stray Dog,4
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,Stray Dog,6
136763,A851755,T'Challa,2022-02-28 11:25:00,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public Assist Cat,0

In [92]:
new_animals = animals.loc[animals["Year"] >= 2020, :]

In [93]:
new_animals.shape

(23270, 15)

In [77]:
animals.loc[0, ["DateTime"]]

DateTime    2019-01-03 16:19:00
Name: 0, dtype: object

In [94]:
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Day of Week
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,Stray Dog,3
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,Stray Dog,6
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog,3
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,Stray Cat,0
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,Stray Dog,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,Stray Dog,0
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,Stray Dog,1
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,Stray Dog,4
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,Stray Dog,6
136763,A851755,T'Challa,2022-02-28 11:25:00,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public Assist Cat,0

In [98]:
animals.loc[animals['Year'] >=2020, 'Name':'Breed']  # Slicing via named columns

,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed
7,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair
9,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair
22,NaN,2021-04-02 11:16:00,2021,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix
24,NaN,2021-06-15 12:37:00,2021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull
26,Baby,2020-03-12 13:52:00,2020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier
...,...,...,...,...,...,...,...,...,...,...
136759,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees
136760,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund
136761,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix
136762,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso
136763,T'Challa,2022-02-28 11:25:00,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair

In [96]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020
animals[animals['Year'] >= 2020].nunique() # number of unique elements

Animal ID           21700
Name                 9175
DateTime            16189
Year                    3
Found Location      10237
Intake Type             6
Intake Condition       15
Animal Type             5
Sex upon Intake         5
Age upon Intake        47
Breed                1022
Color                 327
MonthYear               1
Type                   21
Day of Week             7
dtype: int64

In [100]:
animals.loc[animals['Year'] >=2020][['Name', 'Type', 'Animal ID']]

            Name                 Type Animal ID
7          *Ella            Stray Cat   A844350
9            NaN            Stray Cat   A818975
22           NaN  Owner Surrender Cat   A831808
24           NaN    Public Assist Dog   A836850
26          Baby            Stray Dog   A815227
...          ...                  ...       ...
136759      Coco            Stray Dog   A852221
136760     *Jack            Stray Dog   A851977
136761     Sonic            Stray Dog   A852127
136762     Queen            Stray Dog   A852194
136763  T'Challa    Public Assist Cat   A851755

[23270 rows x 3 columns]

But this only gives us True/False outputs... what if we want to really filter?

## `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [ ]:
# Create a subset dataframe of animals taken in during or after 2020

In [101]:
# Sanity check
new_animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Day of Week
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,NaN,Stray Cat,4
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,NaN,Stray Cat,3
22,A831808,NaN,2021-04-02 11:16:00,2021,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Tortie,NaN,Owner Surrender Cat,4
24,A836850,NaN,2021-06-15 12:37:00,2021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Blue/White,NaN,Public Assist Dog,1
26,A815227,Baby,2020-03-12 13:52:00,2020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier,Brown/Cream,NaN,Stray Dog,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,Stray Dog,0
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,Stray Dog,1
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,Stray Dog,4
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,Stray Dog,6
136763,A851755,T'Challa,2022-02-28 11:25:00,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public Assist Cat,0

We can return only certain columns when we do this, by adding an argument after the condition:

In [118]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns
new_animals.loc[ : ,['Animal ID','DateTime', "Type"]]

       Animal ID            DateTime                 Type
7        A844350 2021-10-15 11:40:00            Stray Cat
9        A818975 2020-06-18 14:53:00            Stray Cat
22       A831808 2021-04-02 11:16:00  Owner Surrender Cat
24       A836850 2021-06-15 12:37:00    Public Assist Dog
26       A815227 2020-03-12 13:52:00            Stray Dog
...          ...                 ...                  ...
136759   A852221 2022-02-28 11:05:00            Stray Dog
136760   A851977 2022-02-22 13:34:00            Stray Dog
136761   A852127 2022-02-25 13:05:00            Stray Dog
136762   A852194 2022-02-27 13:44:00            Stray Dog
136763   A851755 2022-02-28 11:25:00    Public Assist Cat

[23270 rows x 3 columns]

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [119]:
new_animals.dtypes

Animal ID                   object
Name                        object
DateTime            datetime64[ns]
Year                         int64
Found Location              object
Intake Type                 object
Intake Condition            object
Animal Type                 object
Sex upon Intake             object
Age upon Intake             object
Breed                       object
Color                       object
MonthYear                   object
Type                        object
Day of Week                  int64
dtype: object

In [121]:
# Find all the Stray Cats taken in during or after 2020
animals.loc[(animals['Intake Type'] == "Stray") & (animals['Year'] >= 2020)]
# first use case of & operator

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Day of Week
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,NaN,Stray Cat,4
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,NaN,Stray Cat,3
26,A815227,Baby,2020-03-12 13:52:00,2020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier,Brown/Cream,NaN,Stray Dog,3
44,A821389,*Dim Sum,2020-08-10 14:10:00,2020,7800 San Felipe Boulevard in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Brown Tabby,NaN,Stray Cat,0
71,A813757,NaN,2020-02-18 12:26:00,2020,Colonial Park And Weidemar in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,German Shepherd/Australian Cattle Dog,Black/Tricolor,NaN,Stray Dog,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White,NaN,Stray Dog,0
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,Stray Dog,0
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,Stray Dog,1
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,Stray Dog,4
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,Stray Dog,6

### Your turn! Go thru Series Methods

#### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [123]:
# Your code here
animals.loc[animals['Intake Condition'] != "Normal"]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Day of Week
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,Stray Cat,0
10,A774147,NaN,2018-06-11 07:45:00,2018,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,NaN,Stray Cat,0
16,A743114,NaN,2017-02-04 10:10:00,2017,208 Beaver St in Austin (TX),Stray,Injured,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black/White,NaN,Stray Cat,5
24,A836850,NaN,2021-06-15 12:37:00,2021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Blue/White,NaN,Public Assist Dog,1
38,A794334,Pearl,2019-09-02 11:52:00,2019,Outside Jurisdiction,Owner Surrender,Sick,Dog,Spayed Female,3 years,Boxer Mix,White,NaN,Owner Surrender Dog,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136728,A852084,*Maple Syrup,2022-02-24 13:29:00,2022,6911 Bennett Ave in Austin (TX),Stray,Injured,Dog,Intact Female,2 months,Labrador Retriever Mix,Black/White,NaN,Stray Dog,3
136730,A852207,NaN,2022-02-28 07:16:00,2022,4434 Frontier Trail in Austin (TX),Owner Surrender,Sick,Cat,Intact Male,2 weeks,Domestic Shorthair,Brown Tabby,NaN,Owner Surrender Cat,0
136733,A852038,*Minkus,2022-02-23 15:01:00,2022,3403 E 5Th St in Austin (TX),Stray,Injured,Cat,Neutered Male,11 months,Domestic Shorthair,Black,NaN,Stray Cat,2
136742,A850725,Monty,2022-01-30 14:32:00,2022,14100 Thermal Dr in Austin (TX),Stray,Injured,Dog,Intact Male,2 years,Labrador Retriever,Black/White,NaN,Stray Dog,6
136754,A852234,NaN,2022-02-28 12:33:00,2022,305 E Lola Lane in Austin (TX),Stray,Injured,Cat,Intact Female,2 years,Domestic Shorthair,Calico,NaN,Stray Cat,0

#### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [125]:
# Your code here
animals.loc[(animals["Sex upon Intake"] == "Intact Male") | (animals["Sex upon Intake"] == "Intact Female")]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Day of Week
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog,3
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,Stray Cat,0
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,NaN,Stray Cat,4
8,A708452,Mumble,2015-07-30 14:37:00,2015,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Labrador Retriever Mix,Black/White,NaN,Public Assist Dog,3
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,NaN,Stray Cat,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White,NaN,Stray Dog,0
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,Stray Dog,0
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,Stray Dog,1
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,Stray Dog,4
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,Stray Dog,6

## `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [127]:
# Find the first 3 rows
animals.iloc[:5, 5:8]  # non-inclusive upper limit

  Intake Type Intake Condition Animal Type
0       Stray           Normal         Dog
1       Stray           Normal         Dog
2       Stray           Normal         Dog
3       Stray             Sick         Cat
4       Stray           Normal         Dog

In [128]:
# Same as using head(3)
animals.iloc[:5, :]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Day of Week
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,Stray Dog,3
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,Stray Dog,6
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,Stray Dog,3
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,Stray Cat,0
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,Stray Dog,6

In [129]:
# Can look exactly where the 0 index is
animals.iloc[0]

Animal ID                                       A786884
Name                                             *Brock
DateTime                            2019-01-03 16:19:00
Year                                               2019
Found Location      2501 Magin Meadow Dr in Austin (TX)
Intake Type                                       Stray
Intake Condition                                 Normal
Animal Type                                         Dog
Sex upon Intake                           Neutered Male
Age upon Intake                                 2 years
Breed                                        Beagle Mix
Color                                          Tricolor
MonthYear                                           NaN
Type                                          Stray Dog
Day of Week                                           3
Name: 0, dtype: object

In [130]:
# But what about our subset dataframe above? It doesn't have an index 0
animals.iloc[0].index

Index(['Animal ID', 'Name', 'DateTime', 'Year', 'Found Location',
       'Intake Type', 'Intake Condition', 'Animal Type', 'Sex upon Intake',
       'Age upon Intake', 'Breed', 'Color', 'MonthYear', 'Type',
       'Day of Week'],
      dtype='object')

In [ ]:
# Try it...

# Series Methods

## `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [131]:
# Check the value counts for Animal Type
animals['Animal Type'].value_counts()

Dog          77098
Cat          51753
Other         7253
Bird           636
Livestock       24
Name: Animal Type, dtype: int64

In [132]:
# Now check Breed
animals['Breed'].value_counts()

Domestic Shorthair Mix                    32034
Domestic Shorthair                        10441
Pit Bull Mix                               8913
Labrador Retriever Mix                     7370
Chihuahua Shorthair Mix                    6486
                                          ...
American Bulldog/Blue Lacy                    1
Black Mouth Cur/Great Dane                    1
Rhod Ridgeback/Mastiff                        1
Standard Schnauzer/Australian Shepherd        1
Ibizan Hound/Pit Bull                         1
Name: Breed, Length: 2734, dtype: int64

In [133]:
animals.loc[animals["Animal Type"] == "Cat"]["Breed"].value_counts(normalize=True)
# normalize = True is to get a percentage output

Domestic Shorthair Mix                     0.618979
Domestic Shorthair                         0.201747
Domestic Medium Hair Mix                   0.062122
Domestic Longhair Mix                      0.030530
Siamese Mix                                0.025989
                                             ...
Domestic Shorthair/Domestic Medium Hair    0.000019
Domestic Shorthair/Maine Coon              0.000019
American Wirehair Mix                      0.000019
Snowshoe/Domestic Shorthair                0.000019
Scottish Fold/Domestic Shorthair           0.000019
Name: Breed, Length: 103, dtype: float64

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [136]:
# Use the normalize argument to view as percentages
animals.loc[animals["Animal Type"] == "Cat"]["Breed"].value_counts(normalize= True)

Domestic Shorthair Mix                     0.618979
Domestic Shorthair                         0.201747
Domestic Medium Hair Mix                   0.062122
Domestic Longhair Mix                      0.030530
Siamese Mix                                0.025989
                                             ...
Domestic Shorthair/Domestic Medium Hair    0.000019
Domestic Shorthair/Maine Coon              0.000019
American Wirehair Mix                      0.000019
Snowshoe/Domestic Shorthair                0.000019
Scottish Fold/Domestic Shorthair           0.000019
Name: Breed, Length: 103, dtype: float64

## `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [140]:
# Let's sort the year column
animals["Year"].sort_values(ascending= False)  # sorts years only
animals.sort_values(by = "Year", ascending = False)  # sorts whole dataframe by Year!

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Day of Week
136763,A851755,T'Challa,2022-02-28 11:25:00,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public Assist Cat,0
135598,A850355,*Sox,2022-01-22 13:24:00,2022,7517 Cameron Road in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Pit Bull,Tan/White,NaN,Stray Dog,5
135600,A850150,French Toast,2022-01-19 11:59:00,2022,Manor (TX),Owner Surrender,Normal,Dog,Intact Male,5 months,Labrador Retriever Mix,White/Tan,NaN,Owner Surrender Dog,2
135601,A850150,French Toast,2022-01-26 12:42:00,2022,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,5 months,Labrador Retriever Mix,White/Tan,NaN,Owner Surrender Dog,2
135603,A850485,Rocco,2022-01-25 12:50:00,2022,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Intact Male,8 months,Australian Shepherd Mix,Black/Brown,NaN,Stray Dog,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114540,A668192,NaN,2013-11-29 12:47:00,2013,Long Vista And Bratton in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,Picardy Sheepdog,Tan/White,NaN,Stray Dog,4
7568,A666609,Peewee,2013-11-04 13:51:00,2013,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,6 years,Domestic Shorthair Mix,Blue,NaN,Owner Surrender Cat,0
6328,A667157,Jason,2013-11-13 14:52:00,2013,Pflugerville (TX),Owner Surrender,Normal,Cat,Intact Male,3 months,Domestic Medium Hair Mix,Cream Tabby/White,NaN,Owner Surrender Cat,2
114531,A666725,NaN,2013-11-06 12:55:00,2013,13021 Dessau Rd in Austin (TX),Stray,Normal,Dog,Intact Male,2 months,Pointer/Anatol Shepherd,White/Brown,NaN,Stray Dog,2
96175,A665567,Baby,2013-10-19 12:57:00,2013,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,Chocolate/White,NaN,Stray Dog,5

In [153]:
# Now, sort the Animal Type col
animals.loc[animals["Animal Type"] != 'Bird']["Animal Type"].value_counts(normalize=True)

Dog          0.566364
Cat          0.380179
Other        0.053281
Livestock    0.000176
Name: Animal Type, dtype: float64

In [154]:
# We can do this on the whole dataframe, it just needs to know what to sort by
animals.sort_values(by='Year', ascending= False)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,Type,Day of Week
136763,A851755,T'Challa,2022-02-28 11:25:00,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public Assist Cat,0
135598,A850355,*Sox,2022-01-22 13:24:00,2022,7517 Cameron Road in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Pit Bull,Tan/White,NaN,Stray Dog,5
135600,A850150,French Toast,2022-01-19 11:59:00,2022,Manor (TX),Owner Surrender,Normal,Dog,Intact Male,5 months,Labrador Retriever Mix,White/Tan,NaN,Owner Surrender Dog,2
135601,A850150,French Toast,2022-01-26 12:42:00,2022,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,5 months,Labrador Retriever Mix,White/Tan,NaN,Owner Surrender Dog,2
135603,A850485,Rocco,2022-01-25 12:50:00,2022,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Intact Male,8 months,Australian Shepherd Mix,Black/Brown,NaN,Stray Dog,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114540,A668192,NaN,2013-11-29 12:47:00,2013,Long Vista And Bratton in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,Picardy Sheepdog,Tan/White,NaN,Stray Dog,4
7568,A666609,Peewee,2013-11-04 13:51:00,2013,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,6 years,Domestic Shorthair Mix,Blue,NaN,Owner Surrender Cat,0
6328,A667157,Jason,2013-11-13 14:52:00,2013,Pflugerville (TX),Owner Surrender,Normal,Cat,Intact Male,3 months,Domestic Medium Hair Mix,Cream Tabby/White,NaN,Owner Surrender Cat,2
114531,A666725,NaN,2013-11-06 12:55:00,2013,13021 Dessau Rd in Austin (TX),Stray,Normal,Dog,Intact Male,2 months,Pointer/Anatol Shepherd,White/Brown,NaN,Stray Dog,2
96175,A665567,Baby,2013-10-19 12:57:00,2013,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,Chocolate/White,NaN,Stray Dog,5

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.